/* File System PHP CSS Document */
.PHPlist p	{ margin: 0; }
.PHPlist img	{ border: none; }
.PHPlist table	{ border-collapse: collapse; }
.PHPlist .left	{ text-align: left; }
.PHPlist .center	{ text-align: center; }
.PHPlist .right	{ text-align: right; }
.PHPlist .f_left	{ float: left; }
.PHPlist .f_right	{ float: right; }

.PHPlist	{ display: table; width: 100%; padding: 0; }
.PHPlist li	{ display: table-cell; float: left; width: 25%; text-align: center; }

.PHPtable	{ border: none; width: 100%; }
.PHPtable td	{ vertical-align: middle; text-align: center; }
.PHPlist .large_icons td	{ padding-bottom: 0.8em; }
.PHPlist .small_icons td	{ text-align: left; padding-bottom: 0.4em; }
.PHPlist .small_icons td th	{ width: 64px; font-weight: normal; }
.PHPlist .small_icons td td	{ padding-left: 2px; text-align: left; }
#adapted	{ font-size: 0.8em; }
#file_image_copy	{ font-size: 0.8em; margin: -10px 0 15px; }

#large_icon_link	{ float: left; }
#small_icon_link	{ float: right; }