
#srcImg { position: absolute; }

#selectbox {
	position: absolute;
	display: table;
}

#selectbox div.row {
	display: table-row;
}

#selectbox span {
	display: table-cell;
	background-color: black;
}

#selectbox span.n.e { cursor: ne-resize; }
#selectbox span.s.e { cursor: se-resize; }
#selectbox span.s.w { cursor: sw-resize; }
#selectbox span.n.w { cursor: nw-resize; }

#selectbox span.n {
	cursor: n-resize;
	top: 0px;
	height: 3px;
}

#selectbox span.e {
	cursor: e-resize;
	right: 0px;
	width: 3px;
}

#selectbox span.s {
	cursor: s-resize;
	bottom: 0px;
	height: 3px;
}

#selectbox span.w {
	cursor: w-resize;
	left: 0px;
	width: 3px;
}

#grabbox {
	cursor: move;
	width: 200px;
	height: 240px;
}

#previewbox {
	height: 120px;
	width: 100px;
	float: right;
}

#debugbox {
	height: 220px;
	width: 200px;
	float: right;
}

