<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset={{utf-8}}" />
<meta name="author" content="{{You!}}" />
<meta name="description" content="{{A description of the site}}" />
<meta name="keywords" content="{{Some keywords that match the site}}" />
[[Block::Site-Head]]
<link rel="shortcut icon" href="[[Block::Theme-root]]BeSquidgy.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="[[Block::Theme-root]]BeSquidgy.css"/>
</head>
<body>
<div id="top"></div>
<div id="header">
	<div id="tagline">{{Something  witty goes here}}</div>
	<h1 id="title">Be Squidgy!</h1>
</div>
<table id="main_tbl">
	<tr>
		<td id="left_cell" rowspan="2">
			[[Block::Menus-block::{Primary}]]
			[[Block::Site-EditLogoutLinks]]
		</td>
		<td id="main_cell" colspan="2">
			[[Block::Site-Content]]
		</td>
	</tr><tr>
		<td id="spacer" />
		<td id="copy_cell">
			Broken Links? Feedback? Please <a href="{{link to the contact page}}" title="Send us an email">email us</a>.
			Valid <a href="http://validator.w3.org/check/referer" title="Validation Page (External link)"><abbr title="Extensible Hypertext Markup Language">XHTML</abbr></a>
			and <a href="http://jigsaw.w3.org/css-validator/check/referer" title="Validation Page (External link)"><abbr title="Cascading Style Sheets">CSS</abbr></a>.
			<br />
			&copy; {{YOU!}}. All trademarks remain the property of their legal owners.
		</td>
	</tr>
</table>
<div id="footer"></div>
</body>
</html>
